* footer section */ footer {
  position: relative;
  margin-top: -1px;
  cursor: pointer;
  padding: 5rem;
  background-color: #343d68;
}
.footer-wrapper {
  display: flex;
  gap: 1rem;
  padding: 1.2rem;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}
.footer-faded-text {
  position: absolute;
  left: 0;
  cursor: pointer;
  bottom: 0;
  color: #535c87;
  user-select: none;
  font-size: 5rem;
  font-weight: bold;
}
.link-wrapper {
  display: flex;
  cursor: pointer;
  gap: 1.2rem;
}
.link-wrapper div a {
  color: white;
  text-decoration: none;
  transition: all 0.6s;
}
.link-wrapper div a:hover {
  color: var(--bgOrange);
}
.icon-wrapper {
  display: flex;
  gap: 1rem;
}
.icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: all 0.4s;
}
.icon:hover {
  color: var(--bgOrange);
}
