footer {
  position: relative;
  margin-top: -1px;
  padding: 5rem;
  background-color: #343d68;
}
.footer-wrapper {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.footer-faded-text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #535c87;
  user-select: none;
  font-size: 5rem;
  font-weight: bold;
}
.link-wrapper {
  display: flex;
  gap: 1.2rem;
  margin-right: 66%;
}
.link-wrapper div a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.6s;
}
.link-wrapper div a:hover {
  color: var(--bgOrange);
}
.icon-wrapper {
  display: flex;
  gap: 1rem;
}
.icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: all 0.4s;
}
.icon:hover {
  color: var(--bgOrange);
}
.cont {
  display: flex;
}
@media (max-width: 480px) {
  .cont {
    flex-direction: column;
  }
  footer {
    padding: 34px 24px 52px !important;
  }
  .footer-faded-text {
    padding: 0 7px;
    font-size: 46px !important;
  }
  .link-wrapper {
    padding: 0px 0 10px;
    z-index: 1;
    width: 100%;
  }
}
