body {
  background: #ccc;
}

.card {
  height: 89vh;
  width: 35vw;
  background-color: white;
  margin: 1vw auto;
  box-shadow: 2vw 2vw 12vw 3vw #ccc;
}

#header {
  height: 5vw;
  background: #000;
}

#header h1 {
  color: #fff;
  font-size: 2vw;
  font-family: "Finger Paint", cursive;
  padding: 1vw;
}

#message-section {
  height: 63vh;
  padding: 0 2.5vw;
  overflow-y: auto;
}

.message {
  border: 0.15vw solid #777;
  background-color: #fff;
  border-radius: 0px 1.5vw 1.5vw 1.8vw;
  padding: 1vw;
  margin: 1.5vw 0;
}

.user {
  border-radius: 1.5vw 0 1.5vw 1.8vw;
  background-color: #000;
  color: #fff;
  float: right;
}

#input-section {
  display: flex;
  align-items: flex-end;
  padding: 0 2.5vw;
}

#input {
  border: none;
  border-bottom: 0.1vw solid #000;
  flex-grow: 1;
  padding: 1vw;
}

.send {
  background: transparent;
  border: none;
  cursor: pointer;
}

.circle {
  width: 4.8vw;
  height: 4.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle i {
  font-size: 3vw;
}
@media (max-width: 480px) {
  .card {
    margin: 3%;
    height: 66vh;
    width: 93%;
    background-color: white;
    /* margin: 1vw auto; */
    box-shadow: 2vw 2vw 12vw 3vw #ccc;
  }
  #header {
    height: 5vh;
    background: #000;
  }
  #header h1 {
    color: #fff;
    font-size: 14px;
    font-family: "Finger Paint", cursive;
    padding: 1vw;
  }
  #message-section {
    /* width: 100%; */
    height: 53vh;
    padding: 0 22px;
    overflow-y: auto;
  }
}
