.motivational-quotes {
  font-weight: bold;
  font-size: 28px;
  color: black !important;
  background: white;
  height: 35vh;
  padding: 70px;
  /* background-color: #fff; */
  text-align: center;
}

.typed-quotes {
  font-size: 1.5rem;
  color: grey;
}
@media (max-width: 480px) {
  .motivational-quotes {
    padding: 42px;
    font-size: 26px;
  }
  .typed-quotes {
    font-weight: 100;
    font-size: 16px;
    color: grey;
  }
}
