@import url(https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap);

:root {
  --bgOrange: #e84949;
}
* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: rgb(213, 213, 213);
}

/* header section */
.header {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  gap: 12rem;
}
.logo {
  width: 20%;
}
.home {
  width: 100%;
}
#logo {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}
#home {
  font-size: 100px;
  margin-top: 1.5rem;
  /* text-align: center; */
  color: rgba(255, 0, 0, 0.625);
}

/* Contact form styles */
.contact-form {
  padding: 40px 0;
  margin: 0 10px;
}

.form-container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  font-weight: bold;
}
.form-container input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
  resize: vertical;
}
.submit-button {
  padding: 10px 20px;
  background-color: #0dac30;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.post {
  padding: 20px;
}

/* footer section */
footer {
  position: relative;
  margin-top: -1px;
  padding: 5rem;
  background-color: #343d68;
}
.footer-wrapper {
  display: flex;
  gap: 1rem;
  padding: 1.2rem;
  justify-content: space-between;
  align-items: center;
}
.footer-faded-text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #535c87;
  user-select: none;
  font-size: 5rem;
  font-weight: bold;
}
.link-wrapper {
  display: flex;
  gap: 1.2rem;
}
.link-wrapper div a {
  color: white;
  text-decoration: none;
  transition: all 0.6s;
}
.link-wrapper div a:hover {
  color: var(--bgOrange);
}
.icon-wrapper {
  display: flex;
  gap: 1rem;
}
.icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: all 0.4s;
}
.icon:hover {
  color: var(--bgOrange);
}
