.subscribe-section {
  padding: 50px;
  text-align: center;
  background-color: #fff;
}

.subscribe-section form input {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.forms {
  display: flex !important;
  flex-direction: row;
  padding: 0 529px;
}
.subscribe-section form button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.subscribe-section form button:hover {
  background-color: #218838;
}
.subs {
  padding: 21px;
}
@media (max-width: 768px) {
  .subscribe h1 {
    font-size: 1.5rem; /* Smaller heading on mobile */
  }

  .email-input {
    width: 90%; /* Wider input on mobile */
  }

  .subscribe-button {
    font-size: 0.9rem; /* Smaller button text */
  }
}

@media (max-width: 480px) {
  .subscribe-section {
    padding: 42px 20px;
    text-align: center;
    background-color: #fff; /* Even smaller heading on extra small screens */
  }

  .email-input {
    width: 95%; /* Even wider input on very small screens */
  }
  .subscribe-section form input {
    margin-bottom: 20px;
    width: 278px;
  }
  .forms {
    display: flex !important;
    flex-direction: column;
    padding: 0;
  }
  .subscribe-button {
    padding: 8px 16px; /* Smaller button size */
  }
}
